.Customers{
    display: flex;
    flex-flow:row nowrap;
    flex:0 100%;
  }

  
  .Customers .head{
    text-transform: uppercase;
    cursor: pointer;
    display: flex;
    flex-flow:row nowrap;
    border-bottom:6px double black;
    background-color: lightblue;
    font-weight: bold;
  }

  .Customers .head .iconTD{
    flex:1;
  }

  .Customers .head div {
    flex:2;
    text-align: center;
  border: 1px solid black;
  padding-top:0.5rem;
  padding-bottom: 0.4rem;
  }

 
  .Customers .body{
    display: flex;
    flex-flow:column nowrap;
  }

  .customerEntryWrapper{
display: flex;
flex-flow:row wrap;
  }

  .customerEntry{
    cursor: pointer;
    display: flex;
    flex-flow:row nowrap;
    border-bottom:1px solid black;
    flex:0 100%;
  }

 .customerEntry .companyNameField, .customerEntry  .customerAddressField,.customerEntry  .customerLocationField,.customerEntry .customerFullnameField,
 .customerEntry .deliveryAddressField,.customerEntry  .deliveryLocationField,.customerEntry .emailField,.customerEntry .deliveryVoivodeshipField,.customerEntry .customerVoivodeshipField{
flex:3;
  }


  .Customers .head .companyNameField, .Customers .head .customerAddressField,.Customers .head  .customerLocationField,.Customers .head .customerFullnameField,
  .Customers .head .deliveryAddressField,.Customers .head  .deliveryLocationField,.Customers .head .emailField,.Customers .head .deliveryVoivodeshipField,.Customers .head .customerVoivodeshipField {
 flex:3;
   }


  .NIPField,.REGONField,.customerPostcodeField,.PESELField,.deliveryPostcodeField,.telField,.deliveryVoivodeshipField,.customerVoivodeshipField{
justify-content: center;
  }

 .customerEntry .iconTD{
  flex:1;
 }

  .editCustomer{
    flex:0 30%;
  }

  .editCustomerField{
    display: flex;
    flex-flow:row nowrap;
    flex:0 100%;
    justify-content: space-between;
  }

  .editCustomerField p {
flex:0 30%;
  }

  .editCustomerField input, .editCustomerField select {
flex:0 65%;
  }


  .customerEntry input{
    max-width:30%;
  }

  .customerEntry div{
    flex:2;
    text-align: center;
    display: flex;
    border:1px solid black;
  }
  
    .customerEntry:hover{
      border:2px solid green;
    }
  

#customers-list{
    flex:0 100%;
    font-size:0.8rem;
}

.validationWrapper{
  border:1px solid green;
  margin-bottom:0.5rem;
}

.errorValidation{
color:red;
font-size:1rem;
}

#addCustomer {
    display: flex;
    flex:0 100%;
    flex-flow:row nowrap;
    justify-content: center;
}

#addCustomer form{
    display: flex;
    flex-flow:column nowrap; 
    justify-content: space-between;
    flex:0 20%; 
}

  #addCustomer form > div, #addCustomer form > input,#addCustomer form > select{
    text-transform: uppercase;
    flex:0 5%;
  }

  #addCustomer form > div > input{
    text-transform: uppercase;
  }
 
  #addCustomer button{
    flex:0 7%;
  }

  .valid{
border:1px solid green;
  }

  .invalid{
border:2px solid red;
  }

  @media screen and (max-width: 400px)  {
    .Customers{
      display: flex;
      flex-flow:column nowrap;
      justify-content: flex-start;
    }

    #addCustomer form  input{
   margin-bottom:4px; 
    }

    .amfWrapper{
      flex:0 100%;
    }

    .amfWrapper button{
width:100%;
height:30%;
    }


    .Customers input {
      font-size: 0.6rem;
    }

    #Customers-list {
      flex:0 90%;
    }

  
  }