.Customers{
    display: flex;
    flex-flow:row nowrap;
    flex:0 100%;
  }


  /*
  #customers-list{
    display: flex;
    flex-flow:column nowrap;
    flex:0 70%;
  }*/

  
  .Customers .head{
    text-transform: uppercase;
    cursor: pointer;
    display: flex;
    flex-flow:row nowrap;
    border-bottom:6px double black;
  }

  .Customers .head div {
    flex:1;
    text-align: center;
  border: 1px solid black;
  }

  .Customers .body{
    display: flex;
    flex-flow:column nowrap;
  }

  .customerEntryWrapper{
display: flex;
flex-flow:row wrap;
  }

  .customerEntry{
    cursor: pointer;
    display: flex;
    flex-flow:row nowrap;
    border-bottom:1px solid black;
    flex:0 100%;
  }

  .editCustomer{
    flex:0 30%;
  }

  .editCustomerField{
    display: flex;
    flex-flow:row nowrap;
    flex:0 100%;
    justify-content: space-between;
  }

  .editCustomerField p {
flex:0 30%;
  }

  .editCustomerField input, .editCustomerField select {
flex:0 65%;
  }


  .customerEntry input{
    max-width:30%;
  }

  .customerEntry div{
    flex:1;
    text-align: center;
    display: flex;
    border:1px solid black;
  }
  
    .customerEntry:hover{
      border:3px solid green;
    }
  

#customers-list{
    flex:0 90%;
    font-size:0.8rem;
}

.validationWrapper{
  border:1px solid green;
  margin-bottom:0.5rem;
}

.errorValidation{
color:red;
font-size:1rem;
}

#addCustomer {
    display: flex;
    flex-flow:row nowrap;
    flex:0 10%;
    margin-right: 2rem;
}

#addCustomer form{
    display: flex;
    flex-flow:column nowrap;  
    height:100%; 
}

  #addCustomer form > *{
    margin-bottom:1rem;
    text-transform: uppercase;
    flex:0 5%;
    height:100%;
  }

  #addCustomer form > div > input{
    height:100%;
    text-transform: uppercase;
  }
 
  #addCustomer button{
    flex:0 7%;
  }

  .valid{
border:1px solid green;
  }

  .invalid{
border:2px solid red;
  }

  @media screen and (max-width: 400px)  {
    .Customers{
      display: flex;
      flex-flow:column nowrap;
      justify-content: flex-start;
    }

    #addCustomer form  input{
   margin-bottom:4px; 
    }

    .amfWrapper{
      flex:0 100%;
    }

    .amfWrapper button{
width:100%;
height:30%;
    }


    .Customers input {
      font-size: 0.6rem;
    }

    #Customers-list {
      flex:0 90%;
    }

  
  }