.DayView fieldset{
flex:0 45%;
font-size:0.8rem;
}


.DayView {
    position: fixed;
    z-index: 1;
    width: 100vw;
    height: 100vh;

  }
  
  .ModalContent {
    background-color: white;
    position: absolute;
    top: 5%;
    left: 5%;
    width: 35%;
    height:35%;
    padding: 20px;
    border-radius: 5px;
    border: 2px solid black;
  }

  .ModalContent div{
    display: flex;
    flex-flow:row wrap;
    height:100%;
  }
  
  .close {
    color: black;
    float: right;
    font-size:2rem;
  }
  
  .close:hover {
    color: cyan;
    cursor: pointer;
  }
  