.Devices{
display: flex;
flex-flow:column;
}

.Device{
display: flex;
flex-flow:row nowrap;
}

.runValveForm{
    display: flex;
    flex-flow:column;
}


.runValveForm select , .runValveForm input{
    flex:0 4vh; 
    font-size:100%;
}

@media screen and (max-width: 400px)  {
.Device{
    flex-flow:column;
    flex:0 100%;
}

.Devices{
    flex:0 100%;
}

.DeviceInfo{
    flex:0 30%;
}

.runValveForm{
    flex:0 70%;
    justify-content:stretch;
}

.runValveForm >*{
    flex:0 10%;
    text-align: center;
}


}