.Microgreens{
    display: flex;
    flex-flow:row nowrap;
    flex:0 100%;
    justify-content: space-between;
  }

  #microgreens-list{
    flex:0 78%;
  }

  .Microgreens table{
    width:100%;
  }

  #microgreens-color-picker{
    width:100%;
  }

#addMicrogreens {
    display: flex;
    flex-flow:row nowrap;
    flex:0 10%;
}

#addMicrogreens form{
    display: flex;
    flex-flow:column nowrap;    
    flex:0 100%;
}

  #addMicrogreens form  input{
    flex:0 5%;
    margin-bottom:1rem;
  }
  
  #addMicrogreens button{
    flex:0 7%;
  }

.MicrogreenEntry{
  cursor: pointer;
}

  .MicrogreenEntry:hover{
    border:3px solid green;
  }

  .MicrogreenEntry.edit{
    border:3px solid green;
  }
  
  .MicrogreenEntry td{
    width:100%;
    padding: 0;
  }

  .MicrogreenEntry td input {
    width:100%;
  }

  @media screen and (max-width: 400px)  {
    .Microgreens{
      display: flex;
      flex-flow:column nowrap;
    }
    #addMicrogreens form  input{
   margin-bottom:4px; 
    }

    .Microgreens table > *{
      font-size: 0.5rem;
    }

    .Microgreens table td {
      height:100%;
    }

  }