.Microgreens{
    display: flex;
    flex-flow:row nowrap;
    flex:0 100%;
  }

  #microgreens-list{
    display: flex;
    flex-flow:column nowrap;
    flex:0 100%;
  }
  
 .MicrogreenEntry .save{
    flex:2;
  }

  .MicrogreenEntry .iconTD{
    justify-content: center;

  }
    
  .Microgreens .head{
    text-transform: uppercase;
    cursor: pointer;
    display: flex;
    flex-flow:row nowrap;
    border-bottom:6px double black;
    background-color: lightblue;
    font-weight: bold;
  }

  .Microgreens .head > * {
    flex:1;
    text-align: center;
    border:1px solid black;
  }

  .Microgreens .body{
    display: flex;
    flex-flow:column nowrap;
  }


  .MicrogreenEntry{
    cursor: pointer;
    display: flex;
    flex-flow:row nowrap;
    border-bottom:1px solid black;
    flex:0 100%;
    
  }

  .MicrogreenEntry > *{
    flex:1;
    text-align: center;
    display: flex;
    justify-content: center;
    border:1px solid black;
  }
  
    .MicrogreenEntry:hover{

    }
  
    .MicrogreenEntry.edit{

    }


  #microgreens-color-picker{
    width:100%;
  }

  .MicrogreenEntry input, .MicrogreenEntry select{
    flex:1;
    box-sizing:border-box;
    width: 100% 
  }

  @media screen and (max-width: 400px)  {
   /* .Microgreens{
      display: flex;
      flex-flow:column nowrap;
      justify-content: flex-start;
    }*/

    #microgreens-list {
      flex:0 90%;
    }

    .Microgreens input {
      font-size: 0.6rem;
    }

    .head{
      width: 170vw;
    }
    .MicrogreenEntry{
      width: 170vw;
    }

    .MicrogreenEntry .microgreenNamePL, .head .microgreenNamePL{
      flex:4;
    }

    .MicrogreenEntry .microgreenNameEN,.head .microgreenNameEN{
      flex:4;
    }

    .MicrogreenEntry .microgreenColor, .head .microgreenColor{
      flex:3;
    }
 

  
  }