.Microgreens{
    display: flex;
    flex-flow:row nowrap;
    flex:0 100%;
  }

  #microgreens-list{
    flex:0 70%;
  }

  .Microgreens table{
    width:100%;
  }

  .Microgreens table thead tr td {
    text-transform: uppercase;
    cursor: pointer;
  }

  #microgreens-color-picker{
    width:100%;
  }

#addMicrogreens {
    display: flex;
    flex-flow:row nowrap;
    flex:0 10%;
    margin-right: 2rem;
}

#addMicrogreens form{
    display: flex;
    flex-flow:column nowrap;  
    height:100%; 
}

  #addMicrogreens form  input{
    margin-bottom:1rem;
    text-transform: uppercase;
    flex:0 5%;
  }
 
  #addMicrogreens button{
    flex:0 7%;
  }

.MicrogreenEntry{
  cursor: pointer;
}

  .MicrogreenEntry:hover{
    border:3px solid green;
  }

  .MicrogreenEntry.edit{
    border:3px solid green;
  }
  
  .MicrogreenEntry td{
   /* width:100%;*/
    padding: 0.5rem;
  }

  .MicrogreenEntry td input {
    width:100%;
  }

  @media screen and (max-width: 400px)  {
    .Microgreens{
      display: flex;
      flex-flow:column nowrap;
      justify-content: flex-start;
    }

    #addMicrogreens form  input{
   margin-bottom:4px; 
    }

    .Microgreens table > *{
      font-size: 0.5rem;
    }

    .Microgreens table td {
      height:100%;
    }

    .Microgreens table thead td {
      padding: 0;
    }

    .amfWrapper{
      flex:0 100%;
    }

    .amfWrapper button{
width:100%;
height:30%;
    }


    .Microgreens input {
      font-size: 0.6rem;

    }

    #microgreens-list {
      flex:0 90%;
    }

    

  }