.Orders{
    display: flex;
    flex-flow:row nowrap;
    flex:0 100%;
  }

  #addEntryOrdersList{
    display: flex;
    flex-flow:column;
  }

  .orderInfo{
    display: flex;
    flex-flow:row nowrap;
  }

  #addEntryOrders{
    display:flex;
    flex-flow:column;
  }
  .addOrderEntry{
display: flex;
flex:0 100%;
flex-flow:row nowrap;
font-size:0.9rem;
  }


.addOrderEntry .typeField, .Orders .head .typeField{
  flex:2;
}

  .addOrderEntry > div {
    flex:1;
    text-align: center;
  }

  .addOrderEntry .iconTD{
        align-self: end;
    margin-left: auto;
    text-align: center;
  }

  .addOrderEntry p{
    padding: 0;
  }

#ordersListWrapper{
    display: flex;
    flex-flow:row nowrap;
    flex:0 85%;
}
#ordersList{
    display: flex;
    flex:0 100%;
    flex-flow:column nowrap;
}


#ordersDateRange{
  display: flex;
  flex-flow:row nowrap;
  margin-bottom: 1rem;
  justify-content: space-between;
}


#ordersDateRange > div{
  display: flex;
  flex-flow:row nowrap;
  justify-content: space-between;
  font-size:1rem;
  margin-right: 0.5rem;
  flex:0 15%;
}

#ordersDateRange button{
  margin:0;
}

#ordersDateRange input {
  cursor: pointer;
  text-align: center;
  font-size:1rem;
}


.ordersDayMain.wrapped{
  flex:0 5%;
}


.ordersDayWrapper.wrapped{
  flex:0 5%;
}
.customerGroup{
    border:1px solid lightslategray;
display: flex;
flex-flow:column;
flex:0 20vw;
max-height:50vh;
}


.customerGroup .iconTD {
  display: flex;
  flex-flow:row nowrap;
  justify-content: flex-end;
}

.customerGroup:hover{
    border:2px solid rgb(231, 79, 19);
}

.customerGroupOrdersWrapper{
    display: flex;
    flex-flow:column;
    font-size:0.8rem;
    flex:0 100%;
}

.ordersSummary{
    display: flex;
    flex-flow:column;
    justify-content: flex-end;
    align-self: flex-end;
    margin-left: auto;
}

.ordersSummary .head > div:nth-child(1){
  flex:2;
}

.ordersSummary .head > div{
  flex:1;
}

.ordersSummary .orderEntry > div:nth-child(1){
  flex:2
}

.ordersSummary .orderEntry > div{
  flex:1;
}


.ordersDayMain{
    display: flex;
    flex:0 100vh;
}

.ordersDayWrapper{
display: flex;
flex-flow:row wrap;
flex:0 80%;
}

.ordersDay{
    flex:0 100%;
    display: flex;
    flex-flow:column wrap;
border:2px solid lightslategray;
}

.ordersDay .cropsToLink{
  display: flex;
}

.cropsToLinkSelection{
  flex:0 100%;
}

.ordersDay > legend {
    font-size:1.2rem;
    cursor: pointer;
}

.ordersDay > legend:hover{
  color:green;
}

.orderNotes{
    border:1px solid lightslategray;
    align-self: flex-end;
    margin-top: auto;
    width: 100%;
}

  .Orders .head{
    text-transform: uppercase;
    cursor: pointer;
    display: flex;
    flex-flow:row nowrap;
    border-bottom:6px double black;
  }

  .Orders .head div {
    text-align: center;
  }

  .Orders .body{
    display: flex;
    flex-flow:column nowrap;
  }


  .orderEntry{
    cursor: pointer;
    display: flex;
    flex-flow:row nowrap;
    border-bottom:1px solid black;
  }

  .customerGroup .orderEntry > div:nth-child(1),.customerGroup .head > div:nth-child(1)  {
    background-color: lightyellow;
    flex:1;
  }
  .customerGroup .orderEntry > div:nth-child(2) ,.customerGroup .head > div:nth-child(2){
    background-color: lightcoral;
    flex:1
  }

  .customerGroup .orderEntry > div:nth-child(3),.customerGroup .head > div:nth-child(3) {
    background-color: lightblue;
    flex:2;
  }

  .orderEntry div{
    flex:1;
    text-align: center;
  }
  
    .orderEntry:hover{
    }
  
    .orderEntry.edit{
      border:3px solid green;
    }


#addOrder {
    display: flex;
    flex-flow:row nowrap;
    flex:0 15%;
}

#AOFWrapper{
    flex:0 100%;
}

#AOFWrapper label{
  font-size:0.8rem;
  margin-top:0.5rem;
margin-bottom: 0.3rem;
}

#addOrder form{
    display: flex;
    flex-flow:column nowrap;  
    height:100%; 
}

  #addOrder form  input{
    margin-bottom:1rem;
    text-transform: uppercase;
    flex:0 5vh;
    font-size: 0.8rem;
  }
 
  #addOrder button{
  }

  #customer-selection{
    flex:0 4vh;
  }

  @media screen and (max-width: 400px)  {
    .Orders{
      display: flex;
      flex-flow:column nowrap;
      justify-content: flex-start;
    }

    #addOrder form  input{
   margin-bottom:4px; 
    }

    .amfWrapper{
      flex:0 100%;
    }

    .amfWrapper button{
width:100%;
height:30%;
    }


    .Orders input {
      font-size: 0.6rem;
    }



  
  }