.Orders{
    display: flex;
    flex-flow:row nowrap;
    flex:0 100%;
  }

#ordersListWrapper{
    display: flex;
    flex-flow:row nowrap;
    flex:0 100%;

}
#ordersList{
    display: flex;
    flex:0 100%;
    flex-flow:column nowrap;
}

.customerGroup{
    border:1px solid lightslategray;
display: flex;
flex-flow:row wrap;
flex:0 100%;
}

.customerGroupOrdersWrapper{
    flex:0 30%;
    display: flex;
    flex-flow:column
}

.ordersSummary{
    display: flex;
    flex-flow:column;
    justify-content: flex-end;
}


.ordersDayWrapper{
    display: flex;
    flex:0 94vh;
}

.ordersDay{
    flex:0 100%;
    display: flex;
    flex-flow:row wrap;
border:2px solid lightslategray;
}

.ordersDay > legend {
    font-size:1.2rem;
}

.orderNotes{
    border:1px solid lightslategray;
    align-self: flex-end;
    margin-top: auto;
    width: 100%;
}

  .Orders .head{
    text-transform: uppercase;
    cursor: pointer;
    display: flex;
    flex-flow:row nowrap;
    border-bottom:6px double black;
  }

  .Orders .head div {
    flex:1;
    text-align: center;
  }

  .Orders .body{
    display: flex;
    flex-flow:column nowrap;
  }


  .orderEntry{
    cursor: pointer;
    display: flex;
    flex-flow:row nowrap;
    border-bottom:1px solid black;
  }

  .orderEntry div{
    flex:1;
    text-align: center;
  }
  
    .orderEntry:hover{
      border:3px solid green;
    }
  
    .orderEntry.edit{
      border:3px solid green;
    }


#addOrder {
    display: flex;
    flex-flow:row nowrap;
    flex:0 10%;
    margin-right: 2rem;
}

#addOrder form{
    display: flex;
    flex-flow:column nowrap;  
    height:100%; 
}

  #addOrder form  input{
    margin-bottom:1rem;
    text-transform: uppercase;
    flex:0 5%;
  }
 
  #addOrder button{
    flex:0 7%;
  }

  @media screen and (max-width: 400px)  {
    .Orders{
      display: flex;
      flex-flow:column nowrap;
      justify-content: flex-start;
    }

    #addOrder form  input{
   margin-bottom:4px; 
    }

    .amfWrapper{
      flex:0 100%;
    }

    .amfWrapper button{
width:100%;
height:30%;
    }


    .Orders input {
      font-size: 0.6rem;
    }



  
  }