#WeekView{
display: flex;
flex-flow:column;
flex:0 100%;
gap:0.25rem;
}

#WeekView .row, #WeekView .head, #WeekView .head-2{
    display: flex;
    flex-flow:row nowrap;
    justify-content: space-evenly;
    cursor: default;
}

 #WeekView .head div,  #WeekView .head-2 div {
text-align: center;
border: 1px solid black;
}

#WeekView .dayRecord{
    text-align: center;
    flex-grow:1;
}

.dayRecordGrp{
    text-align: center;
}

#WeekView .shelf{
    display: flex;
    flex-flow:row nowrap;
    border:1px solid gray;

}
#WeekView .FNDTray{
flex-basis:50%;
border:1px solid black;
}

#WeekView .rack{
    flex:0 30%;
}

.FNDTray.blocked{
    pointer-events: none;
    opacity: 0.4;
}


#WeekView .tray{

}

.tray.blocked{
    pointer-events: none;
    opacity: 0.4;
}

.dayRecord{
    border: 1px solid black;
}
.head-2 div{
    cursor: pointer;
}

.head-2 div:hover{
    background-color: lightskyblue;
}


#WeekView fieldset{
padding: 0.1rem;
border:none;
}

#WeekView legend{
    font-size:0.75rem;
}

.cropInfo{
    display: flex;
    flex-flow:column nowrap;
    gap:0.1rem;
}

.cropInfo p{
    padding: 0;
    margin: 0;
    font-weight: 700;
}

.scheduleCrop .rack{
    height: 50%;
    display: flex;
    flex-flow:column;
}

.scheduleCrop .rack .row{
    flex-grow:1;
}

#WeekView.scheduleCrop{
  height: 70%;;
}



.FNDTray{
display: flex;
flex-flow: row nowrap;
justify-content: stretch;
}

.viewWrapper{
    flex:0 80%;
}

.tray{
    border:1px solid black;
    flex-grow:1;
}

.tray .edit{

}

.tray:hover{
    background-color: lightslategray;
    cursor: pointer;
}

#saveScheduleDiv{
    display: flex;
    flex-flow:row nowrap;
    justify-content: center;
}

#saveScheduleDiv button {
    flex:0 20%;
}


.schedule .filter{
display: none;
}

@media screen and (max-width: 400px)  {
#WeekView .filter div > *{
    padding:0;
    margin:0;
}
#WeekView .row, #WeekView .head, #WeekView .head-2{
line-height:80%;
}

}